<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stare</title>
    <link rel="shortcut icon" href="../image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <header>
        <img src="../image/ifba.png" alt="IFBA" id="ifba">
        <h1>
            STARE
        </h1>
        <img src="../image/ticase.png" alt="ticase" id="ticase">

        <h2>
            PLATAFORMA DE ESTÁGIO SUPERVISIONADO
        </h2>
    </header>
    <nav>
        <a href="../index.html">Stare</a>
        <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="nav-list">
            <li><a href="estagio.html">Estágio</a></li>
            <li><a href="supervisor.html">Supervisor</a></li>
            <li><a href="licenciatura.html">Licenciatura</a></li>
            <li><a href="../documents/legislacao.pdf" target="_blank">Lesgilação</a></li>
            <li><a href="#">Normativas</a></li>
        </ul>
    </nav>
    <main>
        <h1>
            Sobre a licenciatura
        </h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni ex architecto inventore provident explicabo
            accusamus. Repudiandae et adipisci sed, maiores reiciendis at. Voluptates nesciunt beatae quis, officiis
            consequatur exercitationem impedit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            consectetur aperiam blanditiis totam deserunt quae, modi, quidem culpa, nemo sed quasi aliquam laborum.
            Nostrum iste natus officiis reiciendis. Velit, amet. Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Corrupti, quod quaerat! Voluptas non rem sequi? Temporibus molestiae ratione sequi tempora. Magnam
            quidem illo molestias beatae et ipsa asperiores aut dolorem? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Cum porro, non assumenda iure tempore qui quam laudantium laborum ad velit excepturi at
            unde fuga similique nostrum, molestias quaerat reiciendis mollitia! Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Impedit, repellat asperiores nisi, commodi suscipit incidunt modi voluptatum harum ipsa
            provident aperiam reprehenderit perspiciatis, at optio delectus velit consequuntur eos laborum. Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Ipsam dignissimos qui libero sequi temporibus aliquid iste
            voluptate explicabo maiores architecto laudantium saepe, tempora dolorum quo asperiores dolores corrupti
            placeat ipsa.
        </p>
        <img src="../image/estagio.png" alt="imagem do google" id="estagio">
    </main>
    <footer>
        Desenvolvido por: Discente - Michael Delego / Docente - Tereza Kelly
    </footer>
    <script src="../codes/mobile-navbar.js"></script>
</body>

</html>