@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@media all and (max-width: 676px) {
    header>img {
        height: 47px;
        width: 40px;
    }

}

header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: 10px;
    background-image: linear-gradient(to bottom, #78EE00, #3F7B30);
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.466);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    padding: 0px 20px;

}

header>h1 {
    width: 80%;
    margin: auto;

}

header>h2 {
    padding: 0px 10px 20px 10px;
    width: 80%;
    margin: auto;
}

#ifba {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

#ticase {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3F7B30;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.466);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.336);
    border-radius: 5px;
    padding: 2px;
    font-weight: bolder;
}


nav a {
    padding: 5px;
    text-decoration: none;
    margin: 0px 10px;
    color: white;
}

nav a:hover {
    border-radius: 5px;
    text-decoration: underline;
    background-color: #78EE00;
    color: #0B3667;
    transition-duration: 1s;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list>li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.moblie-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    display: none;
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 1159px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 22%;
        right: 10px;
        height: 280px;
        width: 210px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        background: #3F7B30;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.466);
        transform: translateX(110%);
    }

    .nav-list>li {
        padding: 15px;
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu>div {
        display: block;
    }
}

@media (max-width: 772px) {
    .nav-list {
        top: 26%;
    }
}

@media (max-width: 494px) {
    .nav-list {
        top: 31%;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);

}

body {
    display: block;
    background-color: #a6c2e2;
    background-size: 100vw;
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 650px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.466);
}

main>h1 {
    text-align: center;
    color: #0B3667;
    text-shadow: 1.2px 1.5px 0px rgba(0, 0, 0, 0.336);

}

main p {
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1.1em;
}

footer {
    color: #DEEEC0;
    padding: 5px;
    margin-top: 10px;
    background-image: linear-gradient(to bottom, #0B3667, black);
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    font-size: 0.9em;
}